html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.cb-content {
  border: 1px solid #061efe;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 80vh;
  margin: 0 20px;
}

.cb-content-min {
  height: 60px;
  width: 300px;
  border: 1px solid #061efe;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.cb-header {
  background-color: #061efe;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: 20px;
  color: white;
  height: 60px;
}
.cb-header p {
  padding-left: 20px;
  flex-grow: 1;
  display: flex;
}
.cb-header p svg {
  padding-right: 12px;
}

.cb-header button {
  background-color: transparent;
  border: 0;
  color: white;
  padding-right: 20px;
  padding-top: 5px;
}

.cb-content .cb-content-scrollable {
  flex-grow: 1;
  overflow-y: auto;
  width: 300px;
}

.cb-content .cb__info {
  display: flex;
}

.cb-content .cb__info p {
  background-color: #afddff;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}
.cb-content .cb__response {
  justify-content: right;
}
.cb-content .cb__response p {
  background-color: grey;
  color: white;
}

.cb-content .cb__options {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
}

.cb-content .cb__options .cb__info {
  background-color: #afddff;
  border: 0;
}

.cb-content .cb__options .cb__info p {
  margin: 0;
  border-radius: 0;
  max-width: 300px;
}

.cb-content .stock__item {
  background-color: rgba(255, 255, 255, 0.1);
  color: #4c6070;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #afddff;
  cursor: pointer;
  max-width: 300px;
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.cb-content .stock__item--read-only {
  background-color: #afddff;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin: 0;
}
